.addButton{
    bottom: unset;
    border: unset;
    background-color: rgb(98, 187, 98);
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.addUserForm{
    width: 400px;
    height: 500px;
    background-color: white;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 6px;
}

.input-section{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 8px;
    position: relative;
    margin-top: 10px;
    border-bottom: 2px solid rgb(16, 10, 181);
}

.inputField{
    background-color: unset;
    padding-top: 12px;
    outline: none;
    border: none;
    width: 80%;
}

.labelInput{
    color: blue;
    transition-duration: 0.8s;
    position: absolute;
    right: 2px;
    top: 18px;
}

input:active,:focus + label{
    top: -3px;
    opacity: 0.6;
}


.addUserButton{
    bottom: unset;
    border: unset;
    background-color: rgb(98, 187, 98);
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 80%;
}

.error-message{
    color: red;
}






