.SingleUser{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
    gap: 20px;
    position: relative;
}

.SingleUser .UserData{
    display: flex;
    gap: 20px;
}

.SingleUser .user-section{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.SingleUser .labelInfo{
    color: rgb(108, 113, 118);
    padding: 5px;
}

.statusProgress{
    background-color: rgb(200, 157, 76);
    padding: 5px;
    border-radius: 5px; 
    width: fit-content;
    color: var(--dark-bg);
}

.statusAgreed{
    background-color: rgb(90, 176, 90);
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    color: var(--dark-bg);
}

.edit{
    left: 10px;
    top: 0;
    position: absolute;
    border: unset;
    border-radius: 0px 0px 5px 0px;
    padding: 10px;
    background-color: rgb(184, 178, 178);
    cursor: pointer;
}

.update-user{
    width: 400px;
    height: 450px;
    background-color: white;
}

.formUpdate{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.closeIcon{
    cursor: pointer;
    position: absolute;
    font-size: 25px;
}

.inputFields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.save{
    background-color: rgb(98, 187, 98);
    border: unset;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

@media (width<600px){
    .edit{
        top: -24px;
    }
}

